{% load static %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}图书管理系统{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <script src="{% static 'jquery-4.0.0.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</head>
<body>
    {% block header %}{% endblock %}

    <div style="margin-top: 70px; padding: 15px;">
        {% block content %}{% endblock %}
    </div>

    {% block footer %}{% endblock %}
</body>
</html>
