{% extends "base.html" %}

{% block header %}
    {% include "header.html" %}
{% endblock %}

{% block content %}
<div class="text-center">
    <h2>当前借书记录</h2>
</div>
<table class="table">
    <thead>
      <tr>
        <th>借书人</th>
        <th>书名</th>
        <th>借书时间</th>
      </tr>
    </thead>
    <tbody>
      {% for b in borrows %}
      <tr>
        <td>{{ b.username__username }}</td>
        <td>{{ b.book__bookname }}</td>
        <td>{{ b.borrowdate }}</td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="3" class="text-muted">暂无借书记录</td>
      </tr>
      {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block footer %}
    {% include "footer.html" %}
{% endblock %}
